[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tensorflow = "*"
tf-agents-nightly = "*"
gym = "*"
imageio = "*"
imageio-ffmpeg = "*"
tqdm = "*"

[requires]
python_version = "3.7"
